<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_StockMovements>
            <version>1.2.1</version>
        </Bubble_StockMovements>
    </modules>
    <global>
        <resources>
            <bubble_stockmovements_setup>
                <setup>
                    <module>Bubble_StockMovements</module>
                </setup>
            </bubble_stockmovements_setup>
        </resources>
        <blocks>
            <bubble_stockmovements>
                <class>Bubble_StockMovements_Block</class>
            </bubble_stockmovements>
        </blocks>
        <helpers>
            <bubble_stockmovements>
                <class>Bubble_StockMovements_Helper</class>
            </bubble_stockmovements>
        </helpers>
        <models>
            <bubble_stockmovements>
                <class>Bubble_StockMovements_Model</class>
                <resourceModel>bubble_stockmovements_resource</resourceModel>
            </bubble_stockmovements>
            <bubble_stockmovements_resource>
                <class>Bubble_StockMovements_Model_Resource</class>
                <entities>
                    <stock_movement>
                        <table>bubble_stock_movement</table>
                    </stock_movement>
                </entities>
            </bubble_stockmovements_resource>
            <cataloginventory>
                <rewrite>
                    <stock>Bubble_StockMovements_Model_CatalogInventory_Stock</stock>
                </rewrite>
            </cataloginventory>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <bubble_stockmovements>
                        <class>bubble_stockmovements/stock_observer</class>
                        <method>checkoutAllSubmitAfter</method>
                    </bubble_stockmovements>
                </observers>
            </checkout_submit_all_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <bubble_stockmovements>
                        <type>singleton</type>
                        <class>bubble_stockmovements/stock_observer</class>
                        <method>saveStockItemAfter</method>
                    </bubble_stockmovements>
                </observers>
            </cataloginventory_stock_item_save_after>
            <cataloginventory_stock_revert_products_sale>
                <observers>
                    <bubble_stockmovements>
                        <class>bubble_stockmovements/stock_observer</class>
                        <method>stockRevertProductsSale</method>
                    </bubble_stockmovements>
                </observers>
            </cataloginventory_stock_revert_products_sale>
            <catalog_product_import_finish_before>
                <observers>
                    <bubble_stockmovements>
                        <class>bubble_stockmovements/stock_observer</class>
                        <method>catalogProductImportFinishBefore</method>
                    </bubble_stockmovements>
                </observers>
            </catalog_product_import_finish_before>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <bubble_stockmovements>
                        <class>bubble_stockmovements/stock_observer</class>
                        <method>addStockMovementsTab</method>
                    </bubble_stockmovements>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <sales_order_item_cancel>
                <observers>
                    <inventory><type>disabled</type></inventory>
                    <bubble_stockmovements>
                        <class>bubble_stockmovements/stock_observer</class>
                        <method>cancelOrderItem</method>
                    </bubble_stockmovements>
                </observers>
            </sales_order_item_cancel>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Bubble_StockMovements>
                    <files>
                        <default>Bubble_StockMovements.csv</default>
                    </files>
                </Bubble_StockMovements>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_StockMovements before="Mage_Adminhtml">Bubble_StockMovements_Adminhtml</Bubble_StockMovements>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>