<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_Rss>
            <version>0.1</version>
        </Bubble_Rss>
    </modules>
    <global>
        <models>
            <rss>
                <rewrite>
                    <observer>Bubble_Rss_Model_Observer</observer>
                </rewrite>
            </rss>
        </models>
        <blocks>
            <rss>
                <rewrite>
                    <catalog_stockmovements>Bubble_Rss_Block_Catalog_Stockmovements</catalog_stockmovements>
                </rewrite>
            </rss>
        </blocks>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <bubble_rss>
                        <class>Bubble_Rss_Model_Observer</class>
                        <method>clearCacheStockMovements</method>
                    </bubble_rss>
                </observers>
            </checkout_submit_all_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <bubble_rss>
                        <type>singleton</type>
                        <class>Bubble_Rss_Model_Observer</class>
                        <method>clearCacheStockMovements</method>
                    </bubble_rss>
                </observers>
            </cataloginventory_stock_item_save_after>
            <cataloginventory_stock_revert_products_sale>
                <observers>
                    <bubble_rss>
                        <class>Bubble_Rss_Model_Observer</class>
                        <method>clearCacheStockMovements</method>
                    </bubble_rss>
                </observers>
            </cataloginventory_stock_revert_products_sale>
            <catalog_product_import_finish_before>
                <observers>
                    <bubble_rss>
                        <class>Bubble_Rss_Model_Observer</class>
                        <method>clearCacheStockMovements</method>
                    </bubble_rss>
                </observers>
            </catalog_product_import_finish_before>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <bubble_rss>
                        <class>Bubble_Rss_Model_Observer</class>
                        <method>clearCacheStockMovements</method>
                    </bubble_rss>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <sales_order_item_cancel>
                <observers>
                    <inventory><type>disabled</type></inventory>
                    <bubble_rss>
                        <class>Bubble_Rss_Model_Observer</class>
                        <method>clearCacheStockMovements</method>
                    </bubble_rss>
                </observers>
            </sales_order_item_cancel>
        </events>
    </global>
    <admin>
        <routers>
            <rss>
                <use>admin</use>
                <args>
                    <module>Bubble_Rss</module>
                    <frontName>rss</frontName>
                </args>
            </rss>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <stockmovementsrss>
                    <file>stockmovementsrss.xml</file>
                </stockmovementsrss>
            </updates>
        </layout>
    </frontend>
</config>