<?xml version="1.0"?>
<config>
    <modules>
        <JR_StockHistory>
            <version>1.0.0</version>
        </JR_StockHistory>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <JR_StockHistory>
                    <files>
                        <default>JR_StockHistory.csv</default>
                    </files>
                </JR_StockHistory>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <jr_stockhistory_setup>
                <setup>
                    <module>JR_StockHistory</module>
                </setup>
            </jr_stockhistory_setup>
        </resources>
        <blocks>
            <jr_stockhistory>
                <class>JR_StockHistory_Block</class>
            </jr_stockhistory>
        </blocks>
        <helpers>
            <jr_stockhistory>
                <class>JR_StockHistory_Helper</class>
            </jr_stockhistory>
        </helpers>
        <models>
            <jr_stockhistory>
                <class>JR_StockHistory_Model</class>
                <resourceModel>jr_stockhistory_resource</resourceModel>
            </jr_stockhistory>
            <jr_stockhistory_resource>
                <class>JR_StockHistory_Model_Resource</class>
                <entities>
                    <stock_history>
                        <table>cataloginventory_stock_history</table>
                    </stock_history>
                </entities>
            </jr_stockhistory_resource>
            <cataloginventory>
                <rewrite>
                    <stock>JR_StockHistory_Model_CatalogInventory_Stock</stock>
                </rewrite>
            </cataloginventory>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <stock_history>
                        <class>jr_stockhistory/stock_observer</class>
                        <method>checkoutAllSubmitAfter</method>
                    </stock_history>
                </observers>
            </checkout_submit_all_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <stock_history>
                        <type>singleton</type>
                        <class>jr_stockhistory/stock_observer</class>
                        <method>saveStockItemAfter</method>
                    </stock_history>
                </observers>
            </cataloginventory_stock_item_save_after>
            <cataloginventory_stock_revert_products_sale>
                <observers>
                    <stock_history>
                        <class>jr_stockhistory/stock_observer</class>
                        <method>stockRevertProductsSale</method>
                    </stock_history>
                </observers>
            </cataloginventory_stock_revert_products_sale>
            <catalog_product_import_finish_before>
                <observers>
                    <stock_history>
                        <class>jr_stockhistory/stock_observer</class>
                        <method>catalogProductImportFinishBefore</method>
                    </stock_history>
                </observers>
            </catalog_product_import_finish_before>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <stock_history>
                        <class>jr_stockhistory/stock_observer</class>
                        <method>addStockHistoryTab</method>
                    </stock_history>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <sales_order_item_cancel>
                <observers>
                    <inventory><type>disabled</type></inventory>
                    <stock_history>
                        <class>jr_stockhistory/stock_observer</class>
                        <method>cancelOrderItem</method>
                    </stock_history>
                </observers>
            </sales_order_item_cancel>
        </events>
    </global>
</config>